/**
 * These styles are applied to the "manage_subscription" shortcode.
 */

.wccs-manage-subscription {
    margin: 20pt 0 20pt 0;
}

.wccs-manage-subscription li {
    text-align: center;
}

.wccs-manage-subscription .product_description {
    text-align: left;
    color: black;
}

#custom-subscription-product-title {
    font-size: 16pt;
    padding: 0;
}

.custom-subscription-product-change a input {
    min-width: 0;
    width: 100%;
}
