/**
 * These styles are applied to the Custom Subscription product count dropdown
 * selection input in the add/edit product admin page.
 */

#woocommerce-product-data .woocommerce_options_panel p._custom_subscription_product_count_field {
	clear: left;
	padding-right: 0px !important;
}

.woocommerce_options_panel p._custom_subscription_product_count_field {
	margin-top: 0px;
}
